<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="{{ url_for('static', filename='dist/output.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="text-center">
        <h1 class="text-4xl font-bold text-blue-600 mb-4">Welcome to the Home Page</h1>
        <p class="text-lg text-gray-700 mb-4">Ini adalah halaman Home, yang dibuat untuk memenuhi nilai quiz PWP.</p>
        
        <!-- Tautan ke halaman About Us -->
        <a href="{{ url_for('about') }}" class="text-blue-500 underline">Go to About Us</a>
    </div>
</body>
</html>
